# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# ===== PySpark / Spark =====
spark-warehouse/
metastore_db/
derby.log
*.crc

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Data / local files =====
data/
tmp/
*.parquet
*.csv
*.json

# ===== Logs =====
*.log

# ===== IDE (IntelliJ / PyCharm) =====
.idea/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db
